# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment
.env

# IDE
.idea/
.vscode/

# Vue / Node
node_modules/
dist/
npm-debug.log*